@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

#root {
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
}

body {
  margin: 0;
  font-size: 17px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.header > * {
  padding: 2rem 0;
}

.link:hover {
  text-decoration: underline;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page > * {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
  padding: 2rem 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.meal-page {
  padding-bottom: 2rem;
}

li,
.meal-img,
.meal-page-img,
.main-img {
  overflow: hidden;
  display: flex;
}

.main-img {
  height: 16rem;
}

.meal {
  width: 15rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.meal:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.meal-img,
.main-img {
  justify-content: center;
  align-items: center;
}

.main-info {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 3rem;
}

.meal-img {
  height: 7rem;
}

.meal-page-img {
  max-width: 35rem;
  max-height: 15rem;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.stars,
.stars > * {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: #2d3233;
}

button {
  background-color: #3e99c0;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 17px;
}

.row-wrap {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem;
}

.reservation {
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 20rem;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.reservation,
.review {
  padding: 1.5rem;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

p {
  margin: 0.5rem 0;
}

.svg-inline--fa {
  width: 1.5rem;
}

.review,
.reviews {
  display: block;
  margin: 1.5rem 0;
}

@media screen and (max-width: 1400px) {
  #root {
    padding-left: 10%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 700px) {
  #root {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul {
    justify-content: center;
  }

  .row-wrap {
    flex-direction: column;
  }
}
