@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

#root {
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
}

body {
  margin: 0;
  font-size: 17px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  padding: 2rem 1rem;
}

.link:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 2rem 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

li,
.meal-img {
  overflow: hidden;
  display: flex;
}

.meal {
  width: 15rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.meal:hover {
  background-color: #ebb32f33;
}

.meal-img {
  height: 7rem;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.stars,
.stars > * {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: #2d3233;
}

button {
  background-color: #3e99c0;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 17px;
}

@media screen and (max-width: 1400px) {
  #root {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 750px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }

  ul {
    justify-content: center;
  }
}
